@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}

/* title */
.title {
    text-align: center;
    margin-top: 0.5rem;
}

.main-container {
    max-width: 800px;
    height: 10px;
    margin: 5px auto;
    background-color: #e8e7e7;
    border-radius: 10px;
}
